extends layout

block content
    link(rel='stylesheet', href='/stylesheets/normal.css')
    fieldset
        legend finance
            label(for='params') params
            form(id='params' method='post')
                div
                    div.user
                    label(for='user') user
                    input(id='user', name='user', value='user')
                    span.error

                div
                    div.Amount
                    label(for='Amount') Amount
                    input(id='Amount', name='Amount', value='100000')
                    span.error

                div.buttons
                    input.button.reset(type='button', value='清除')
                    input.button.submit(type='submit', value='提交')
